@media (min-width: 576px) {
  body {
    background-color: bisque;
  }
  main {
    display: flex;
  }
  .chats-recientes-contenedor {
    display: block;
    padding: 0;
    padding-top: 3rem;
    transform: translateY(0);
    width: 25rem;
    position: relative;
    order: 0;
  }
  .chat {
    width: calc(100vw - 25rem);
    order: 1;
  }
  .navbar__incons {
    width: 20rem;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar__chats,
  .navbar__menu,
  .navbar__back {
    display: none;
  }
  .navbar__search {
    display: inline-block;
  }
  .navbar__search input {
    width: 20rem;
  }
  .navbar__options {
    display: block;
    padding-right: 2.2rem;
  }
  .navbar__options-list {
    display: flex;
    align-items: center;
    list-style: none;
    color: #ecfeff;
    font-size: 1rem;
    gap: 0.9rem;
  }
  .navbar__options-list li:hover {
    color: #22d3ee;
  }
  .chat__texts-size{
    max-width: 350px;
  }
  
}

/* colores
#ecfeff
#a5f3fc
#22d3ee
#0e7490
#083344
 */