/* colores
#ecfeff
#a5f3fc
#22d3ee
#0e7490
#083344
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: pink;
  font-family: sans-serif;
}

.chat__texts::-webkit-scrollbar {
  width: 0.9em;
}
.chat__texts::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(14, 116, 144, 0.3);
}
.chat__texts::-webkit-scrollbar-thumb {
  background-color: rgb(8, 51, 68, 0.3);
}

/* NAVBAR */
main {
  height: 100vh;
  position: relative;
}
.navbar {
  position: fixed;
  width: 100%;
  height: 3rem;
  top: 0;
  background-color: rgb(14, 116, 144);
  z-index: 999;
  transition: height 0.1s ease-out, background-color 0.2s;
}

.navbar__incons {
  height: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__incons svg {
  width: 1.3rem;
  height: auto;
  color: #ecfeff;
}

.navbar__incons svg:hover {
  color: #a5f3fc;
}

.navbar__back {
  display: none;
}

.navbar__search {
  display: none;
}

.navbar__search input {
  height: 1.5rem;
  border-radius: 7px;
  border: none;
  padding-left: 0.5rem;
  background-color: #ecfeff;
  width: 15rem;
}

.navbar__options {
  display: none;
}

/* NAVBARMENU ABIERTO */

.navbar-open {
  height: 100vh;
  background-color: rgba(14, 116, 144, 0.65);
  backdrop-filter: blur(10px);
}

.navbar-open .navbar__incons {
  height: 3rem;
}

.navbar-open .navbar__options {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-open .navbar__options-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  color: #ecfeff;
  font-size: 1.3rem;
  row-gap: 10px;
  justify-content: center;
}

.navbar__options-list li{
 cursor: pointer; 
}

.navbar-open .navbar__options-list li:hover {
  transition: font-size 0.5s ease;
  font-size: 1.35rem;
  color: #a5f3fc;
}

.navbar-open .navbar__chats,
.navbar-open .navbar__back,
.navbar-open .navbar__search {
  visibility: hidden;
}

/* VENTANA CHAT */
.chat {
  height: 100vh;
  width: 100vw;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-top: 3rem;
}

.chat__usuario {
  display: flex;
  height: 4rem;
  align-items: center;
  padding-left: 0.8rem;
  background-color: #083344;
  gap: 1rem;
}
.chat__usuario-foto {
  height: 70%;
}
.chat__usuario-foto img {
  height: 100%;
  width: auto;
  border-radius: 50%;
}

.chat__usuario-datos h2 {
  color: #ecfeff;
  font-size: 1.2rem;
  font-weight: 400;
}

.chat__usuario-options {
  height: 70%;
  align-self: flex-end;
}
.chat__usuario-options svg {
  height: 70%;
  color: #ecfeff;
}

.chat__usuario-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.chat__texts-container {
  flex-grow: 1;
  max-height: calc(100vh - 13rem);
  background-color: azure;
}

.chat__texts {
  padding: 1rem;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  /* justify-content: flex-end; */
  row-gap: 0.3rem;
}

.chat__texts-size {
  border-radius: 8px;
  height: auto;
  padding: 0.4rem;
  max-width: 250px;
}

.chat__texts-in {
  background-color: rgb(136, 71, 136);
  flex-shrink: 0;
  align-self: flex-start;
}
.chat__texts-out {
  background-color: cadetblue;
  align-self: flex-end;
  flex-shrink: 0;
}

/* CHAT BOX */
.chat__input {
  background-color: #0e7490;
  flex-basis: 6rem;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.chat__box {
  width: 75%;
  height: 93%;
}
.chat__box textarea {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: none;
  padding: 0.9rem 0.7rem;
  background-color: #ecfeff;
  resize: none;
}
.chat__icon {
  width: 1.8rem;
  height: auto;
  color: #ecfeff;
  cursor: pointer;
}

.chat__icon:hover {
  color: #a5f3fc;
}
.chat__icon-clip {
  position: relative;
}
.chat__drop-down {
  position: absolute;
  top: -50px;
  left: -120px;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  background-color: #083344;
  display: none;
}
.drop-down__icons {
  display: flex;
  gap: 0.7rem;
}
.drop-down__icon {
  width: 2rem;
  height: auto;
  color: #a5f3fc;
  cursor: pointer;
}
.drop-down__icon:hover {
  width: 2rem;
  height: auto;
  color: #22d3ee;
}

/* CHATS RECIENTES */
.chats-recientes-contenedor {
  padding: 3rem 2.5rem 2rem 2.5rem;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  transform: translateY(-120vh);
  transition: transform 0.5s ease-out;
  background-color: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(10px);
}
.chats-recientes {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-y: scroll;
}

.chat-recientes__chats {
  background-color: #a5f3fc;
  flex-shrink: 0;
  border-top: 3px solid #ecfeff;
  display: flex;
  height: 5rem;
  align-items: center;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  /* background-color: #083344; */
  gap: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.chats-recientes-datos h2 {
  color: #083344;
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
  /* font-weight: bold; */
}
.chats-recientes-datos p {
  color: #0e7490;
}

.chats-recientes-datos {
  flex-grow: 1;
}
.nombre-hora {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.chats-recientes-hora {
  display: inline-block;
  color: #0e7490;
  font-weight: 400;
}
#chat1 {
  background-color: #0e7490;
}
#chat1 p {
  color: #ecfeff;
}

#chat1 {
  font-weight: 400;
}

/* 
#ecfeff
#a5f3fc
#22d3ee
#0e7490
#083344
*/
